<li>
  <div class="article" data-id={{_id}}>
    <a href={{ url }}>{{ heading }}</a>
    <p>{{_id}}</p>
    <p>{{ text }}</p>
    <button class="delete-button" data-id={{_id}}>DELETE</button>
    <button class="note-button" data-id={{_id}}>Add a note</button>
  </div>
</li>